<div class="page-header">
<h1>API Dokumentation</h1>
</div>

<h2>Heutige Losung:</h2>
<br>
<p class="alert alert-warning">
    Achtung: Dies bezieht sich immer auf UTC+01:00.
</p>
<h4>Request:</h4>
<pre>http://losungen.klose.cloud/api/today</pre>
<h4>Response (Beispiel):</h4>
<pre>
{
  "Datum": "2016-02-15T00:00:00",
  "Wtag": "Montag",
  "Sonntag": {},
  "Losungstext": "Haben wir Gutes empfangen von Gott und sollten das Böse nicht auch annehmen?",
  "Losungsvers": "Hiob 2,10",
  "Lehrtext": "Gott ist treu, der euch nicht versuchen lässt über eure Kraft, sondern macht, dass die Versuchung so ein Ende nimmt, dass ihr’s ertragen könnt.",
  "Lehrtextvers": "1.Korinther 10,13"
}
</pre>
<hr>
<h2>Die Losung eines bestimmten Tages:</h2>
<br>
<p class="alert alert-warning">
    Achtung: Aus lizenzrechtlichen Gründen ist immer nur das aktuelle und das vergangene Jahr verfügbar.
</p>
<h4>Request:</h4>
<pre>http://losungen.klose.cloud/api/{Jahr}/{Monat}/{Tag}
http://losungen.url/api/2016/02/15</pre>
<h4>Response (Beispiel):</h4>
<pre>
{
  "Datum": "2016-02-15T00:00:00",
  "Wtag": "Montag",
  "Sonntag": {},
  "Losungstext": "Haben wir Gutes empfangen von Gott und sollten das Böse nicht auch annehmen?",
  "Losungsvers": "Hiob 2,10",
  "Lehrtext": "Gott ist treu, der euch nicht versuchen lässt über eure Kraft, sondern macht, dass die Versuchung so ein Ende nimmt, dass ihr’s ertragen könnt.",
  "Lehrtextvers": "1.Korinther 10,13"
}
</pre>