<div class="page-header center">
    <h1>LosungenAPI</h1>
</div>
<p class="lead center">Eine API-Schnittstelle für die Losungen der Herrnhuter Brüdergemeinde</p>
<p align="center">Diese API befindet sich derzeit noch in der Entwicklung.</p>