<div class="page-header center">
    <h1>LosungenAPI</h1>
</div>
<p class="lead center">Eine API-Schnittstelle für die Losungen der Herrnhuter Brüdergemeinde</p>
<p align="center">Die Nutzung dieser API unterliegt den <a href="http://www.losungen.de/download/nutzungsbedingungen/">Nutzungsbedingungen für die Verwendung der Losungen im Internet der Herrnhuter Brüdergemeine.</a></p>
<p align="center">&copy; <a href="http://www.herrnhuter.de" target="_blank">Evangelische Brüder-Unität – Herrnhuter Brüdergemeine</a><br><a href="http://www.losungen.de" target="_blank">Weitere Informationen finden Sie hier.</a></p>