<div class="page-header center">
    <h1>LosungenAPI</h1>
</div>
<p class="lead center">Eine API-Schnittstelle für die Losungen der Herrnhuter Brüdergemeine</p>
<!--div class="well center">
	<h4>Desktop Widgets</h4>
	<p>Für Mac OS X gibt es <a target=_blank href="https://git.klose.cloud/richard/uebersicht-widgets/tree/master/dailybibleverse.widget">hier</a> ein Übersicht Widget. Dafür wird das Programm <a href='http://tracesof.net/uebersicht/' target=_blank>Übersicht</a> benötigt.</p>
	<p>Für Windows gibt es <a target=_blank href="https://git.klose.cloud/richard/rainmeter-skins/tree/master/losungen">hier</a> einen Rainmeter Skin. Dafür wird das Programm <a href='https://www.rainmeter.net/' target=_blank>Rainmeter</a> benötigt.</p>
</div-->
<p align="center">Die Nutzung dieser API unterliegt den <a href="http://www.losungen.de/download/nutzungsbedingungen/">Nutzungsbedingungen für die Verwendung der Losungen im Internet der Herrnhuter Brüdergemeine.</a></p>
<p align="center">&copy; <a href="http://www.herrnhuter.de" target="_blank">Evangelische Brüder-Unität – Herrnhuter Brüdergemeine</a><br><a href="http://www.losungen.de" target="_blank">Weitere Informationen finden Sie hier.</a></p>
